{% extends "layout.twig" %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
<div class="error-container">
    <h1>404 Not Found</h1>
    <p>The page you are looking for could not be found.</p>
    <p>Type: {{ exception_type }}</p>
    <p>{{ exception_message }}</p>
    <a href="/" class="btn btn-primary">Go to Homepage</a>
</div>
{% endblock %}
